<?php /** @var $block \Study\Blog\Block\PostList */ ?>
<h1><?php echo __('Latest Blog Posts') ?></h1>
<ul class="blog-post-list">
    <?php /** @var $post \Study\Blog\Model\Post */ ?>
    <? if (count($block->getPosts()) == 0) { ?>
        <strong>Posts not found.</strong>
    <? } ?>
    <?php foreach ($block->getPosts() as $post): ?>
        <li class="blog-post-list-item">
            <h3 class="blog-post-item-title">
                <a href="<?php echo $post->getUrl(
                ) ?>"><?php echo $post->getTitle() ?></a>
            </h3>
            <div class="blog-post-item-content">
                <?php echo $post->getContent(); ?>
            </div>

            <div class="blog-post-item-meta">
                <strong><?php echo __(
                        'Created at:'
                    ) ?></strong> <?php echo $post->getCreationTime() ?>
            </div>

            <div class="blog-post-item-meta">
                <strong><?php echo __(
                        'Category:'
                    ) ?></strong> <?php echo  __($post->getCategoryTitle()) ?>
            </div>
        </li>
    <?php endforeach; ?>
</ul>
