<?php /** @var $block \Study\Blog\Block\Sidebar */ ?>
<?php /** @var $category \Study\Blog\Model\Category */ ?>
<p>Categories:</p>
<div class="block block-custom-sidebar">
    <ul class="blog-category-list">
        <li class="blog-category-list-item">
            <a href="">All</a>
        </li>
        <? foreach ($block->getCategories() as $category): ?>
            <li class="blog-category-list-item">
                <a href="?category=<?php echo $category->getId(
                ) ?>"><?php echo __($category->getTitle()) ?></a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>